/*FIXED HEADER*/
:root{
    --buttonWeight: 700;
    --buttonColor:rgb(51, 59, 51);
}
html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(209, 245, 245);
    box-sizing: border-box;
}

.document{
    height: 100vh;
    width: 100vw;
}
.container {
    display: grid;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 40px 1fr;
    grid-template-areas: 
    'header'
    'subheader'
    'content';
}

.header {
    --headerHeight: 75px;
    margin: 0;
    padding: 0 20px;
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    grid-template-columns: minmax(50px, 1fr) auto minmax(50px, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    'menu-area name-area search-area';
    background-color: rgb(255, 188, 188);
    grid-area: header;
    height: var(--headerHeight);
    box-sizing: border-box;
    z-index: 1000;
}

.button {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    justify-self: center;
    align-self: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    height: 65px;
    width: clamp(50vw,25%,300px);
    background: url(../Source/logo.png) no-repeat center;
    background-size: contain;
    justify-self: center;
    align-self: center;
    grid-area: name-area;
}

.menu {
    justify-self: left;
    background: url(../Source/Hamburger_icon.svg) no-repeat center;
    background-size: contain;
    grid-area: menu-area;
}

.search {
    justify-self: right;
    background: url(../Source/search.png) no-repeat center;
    background-size: contain;
    grid-area: search-area;
}

.subheader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(231, 171, 171);
    grid-area: subheader;
    height: 40px;
    z-index: 999;
}

.subBtn{
    text-decoration: none;
    color: var(--buttonColor);
    font-weight: var(--buttonWeight);
    user-select: none;
    cursor: pointer;
}
/*FIXED HEADER*/
