@media (max-width: 1000px){
    .filtermenu{
        display: none;
    }
    #filterbtn{
        display: block;
    }
    .content{
        margin: 0;
        padding: 0;
        height: 100%;
        box-sizing: border-box;
        grid-area:content;
        display: flex;
    }
}